name: AddOnRelease

on: [push, pull_request]

jobs:
  sma_battery_publish:
    name: Publish SMA Battery Controller
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB }}
      - name: Publish
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target SMA_Battery_Controller \
            --docker-hub ${{ secrets.DOCKERHUB_USERNAME}}
  comfoair_publish:
    name: Publish Comfoair2MQTT
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB }}
      - name: Publish
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target comfoair2mqtt \
            --docker-hub ${{ secrets.DOCKERHUB_USERNAME}}